@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Roboto', sans-serif;  line-height: 24px;
  font-weight: 400;
  position: relative;
  color-scheme: light dark;
  color: #fffefe;
  background-color:#171A1D;

  font-synthesis: none;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  .type_animation{
    background:linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
  }
  .card-gradient{
    background-image: linear-gradient(to bottom, #1b2f46, #1a2a3b, #192531, #181f27, #171a1d); 
    }
  .blue__gradient {
    background-image: linear-gradient(to left top, #0c3644, #103843, #143a43, #193b42, #1d3d42, #1c3b40, #1a383d, #19363b, #122f36, #0b2831, #05222c, #011b27);    filter: blur(123px);
    filter: blur(120px);
  }
  .hero-gradient {
    background-image: linear-gradient(to left top, #0a7dc6, #0078b4, #0072a0, #006b8d, #00647a, #005b6d, #005160, #004854, #003c49, #01313e, #012633, #011b27);
    filter: blur(400px);
  }
  .btn-primary{
    background-image: linear-gradient(to right top, #0086b5, #0084cb, #0080e1, #0079f3, #006eff);   
     border:none;
   }
  .btn-secondary{
    background-image: linear-gradient(to right, #5b0074, #4b1f7d, #382e84, #223987, #004187);    border: none;
  }
    

 @keyframes handhello {
  to{
    transform: translateY(0px);
  }
  from{
    transform: translateY(-8px);
  }
 }
 .hand-hello {
  animation: handhello;
  animation-duration:2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }

